
.footer {
    height: 50px;
    width: 100%;
    min-width: 600px;
    margin: 0;
    padding: 0;
    position: fixed;
    left: 0;
    bottom: 0;
    list-style: none;
    color: #e6e7ee;
    cursor: pointer;
}